.about_wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 90px;
  h3 {
    text-align: center;
    color: #12724f;
    font-size: 40px;
    font-weight: 700;
    margin-top: 63px;
    margin-bottom: 69px;
  }
  .about_content_wrapper {
    display: flex;
    flex-direction: column;
    gap: 175px;

    margin-bottom: 258px;
  }
}
