@mixin navlink-base {
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}

.header_wrapper {
  width: 100vw;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: white;
  .header_logo {
    width: 64px;
  }
  @media (min-width: 1200px) {
    padding: 0px 72px !important;
  }
  @media (min-width: 1024px) {
    padding: 0px 32px;
    height: 78px;
    .header_logo {
      width: 115px;
      height: 59px;
    }
  }
  .navlink_wrapper {
    display: none;
    gap: 30px;
    @media (min-width: 1024px) {
      display: flex;
    }
    .navlink {
      @include navlink-base();
      color: #000;
    }
    .navlink_active {
      @include navlink-base();
      color: #12724f;
    }
  }
  .burger_button {
    display: block;
    @media (min-width: 1024px) {
      display: none;
    }
    background: transparent;
    border: 0;
    cursor: pointer;
  }
}
