@import '@style';

.product_wrapper_card {
  width: 100%;
  background-color: white;
  @include base-padding;
  padding-top: 32px;
  padding-bottom: 32px;
  @media (min-width: 1024px) {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
  }
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;

  > h4 {
    color: #12724f;
    font-size: 40px;
    font-weight: 700;
    @media (max-width: 450px) {
      font-size: 24px;
    }
  }
  .product_content_wrapper {
    width: 100%;
    display: grid;
    row-gap: 72px;
    column-gap: 32px;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

    @media (min-width: 1024px) {
      grid-template-columns: repeat(auto-fit, minmax(434px, 1fr));
    }
  }
}
