.primary_button_wrapper {
  min-width: 234px;
  padding: 20px;
  border-radius: 14px;
  background: #12724f;
  height: 62px;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
}
