.co_worker_card_wrapper {
  max-width: 434px;
  height: 482px;
  border-radius: 14px;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  .co_woekers_img_wrapper {
    width: 390px;
    height: 260px;

    > img {
      width: 100%;
      height: 100%;
    }
  }
}
