@import '@style';

.footer_wrapper {
  min-height: 342px;
  background-color: #12724f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include base-padding;
  padding-top: 48px;
  padding-bottom: 18px;

  @media (min-width: 1200px) {
    padding-top: 48px !important;
    padding-bottom: 18px !important;
  }
  @media (min-width: 1024px) {
    padding-top: 48px !important;
    padding-bottom: 18px !important;
  }

  .footer_content {
    display: grid;
    justify-content: center;
    margin-bottom: 24px;
    gap: 64px;

    @media (min-width: 640px) {
      grid-template-columns: auto auto;
      align-content: center;
      justify-content: center;
    }
    @media (min-width: 1024px) {
      grid-template-columns: auto auto auto auto;
      justify-content: space-between;
    }

    .logo {
      path {
        fill: white;
      }
    }
    .product_wrapper {
      width: fit-content;
      display: flex;
      flex-direction: column;
      gap: 22px;
      li {
        color: #fff;
        font-size: 12px;
      }
    }
    .contact_us_wrapper {
      width: fit-content;
      display: flex;
      flex-direction: column;
      gap: 22px;
      > a {
        display: flex;
        gap: 4px;
        cursor: pointer;
        text-decoration: none;
        p {
          color: #fff;
          font-size: 12;
          font-weight: 400;
          white-space: nowrap;
        }
      }
    }
    .social_link_wrapper {
      width: fit-content;
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }
  .footer_copy_right {
    color: #fff;
    font-size: 14px;
    font-family: Bokonique;
    font-weight: 300;
    font-variant: all-small-caps;
    line-height: 124%;
    text-align: center;
  }
}
