@import '@style';

.card_wrapper {
  width: 100%;
  min-height: 558px;
  height: fit-content;
  background: #f4f9ff;
  @include base-padding;
  overflow: hidden;
  padding-top: 32px;
  padding-bottom: 32px;

  @media (min-width: 1024px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @media (min-width: 640px) {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .card_info_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 24px;
    @media (min-width: 1024px) {
      display: block;
      width: max-content;
      height: 100%;
    }
    div {
      > h3 {
        color: #12724f;
        max-width: 541px;
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 40px;
      }
      > p {
        max-width: 541px;
        color: #1e1e1e;
        font-size: 16px;
        margin-bottom: 40px;
      }
    }
  }
  .card_img_wrapper {
    flex-grow: 1;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 800px;

    @media (min-width: 1024px) {
      max-width: 554px;
    }
    img {
      width: 100%;
      max-width: 554px;
      z-index: 1;
    }
    .elipce_icon {
      position: absolute;
      left: 70%;
      top: 24%;
    }
  }
}
