@font-face {
  font-family: 'Boqonik';
  font-weight: 300;
  src: url('@assets/fonts/Boqonik/Bokonique-Light.otf') format('otf');
}
@font-face {
  font-family: 'Boqonik';
  font-weight: 400;
  src: url('@assets/fonts/Boqonik/Bokonique-Regular.otf') format('otf');
}
@font-face {
  font-family: 'Boqonik';
  font-style: bold;
  font-weight: 500;
  src: url('@assets/fonts/Boqonik/Bokonique-Bold.otf') format('otf');
}
@font-face {
  font-family: 'Boqonik';
  font-style: bold;
  font-weight: 600;
  src: url('@assets/fonts/Boqonik/Bokonique-Bold.otf') format('woff2');
}
@font-face {
  font-family: 'Boqonik';
  font-style: bold;
  font-weight: 700;
  src: url('@assets/fonts/Boqonik/Bokonique-Bold.otf') format('woff2');
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Boqonik;
}

@mixin base-padding {
  padding: 0px 16px;

  @media (min-width: 1200px) {
    padding: 0px 72px !important;
    // padding-top: 78px !important;
  }
  @media (min-width: 1024px) {
    padding: 0px 32px;
    // padding-top: 78px;
  }
}

body {
  &::-webkit-scrollbar {
    display: block;
    width: 6px;
    background-color: none;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: #12724f;
    border-radius: 2px;
  }
}
